.button-store {
  font-size: 20px;
  color: #fff;
  font-family: Arial, "Roboto", sans-serif;
  width: 199px;
  height: 60px;
  border: solid 2px #252c41;
  background-color: #252c41;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  margin-right: 0;
  text-decoration: none;
  border: none;
}

.button-store.-second{
    background-color: transparent;
    border: 2px solid #fff;
    width: 218;
    line-height: 56px;
}
