.button-store {
  display: inline-block;
  box-sizing: border-box;
  background-color: #252c41;
  font-size: 20px;
  color: #fff;
  font-family: Arial, "Roboto", sans-serif;
  width: 199px;
  height: 60px;
 text-align: center;
  line-height: 60px;
  margin-right: 0;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 300ms linear;
}

.button-store:hover,
.button-store:focus{
  background-color: #fff;
  color: #e24647;
}
/* pseudo class é adicionado uma nova classe quando você passa o mouse
e quando você tira é removida essa classe esse é o comportamento.
Esse seletor só existe no momento que o usuário toca o mouse sobre o elemento. E quando você tira ele não está mais flutuando. */

.button-store:active{
  transform: scale(0.9);
}

.button-store.-second{
    background-color: transparent;
    border: 2px solid #fff;
    width: 218px;
    line-height: 56px;
    margin-right: 38px;
}

.button-store.-second:hover,
.button-store.-second:focus{
  background-color: #fff;
  color: #e24647;
}

.button-store  >  button, 
.button-store  >  a  {
  font-size: inherit;
  background-color: inherit;
  border: none;
  color: inherit;
  text-decoration: none;
}

/* correto */