.header-store {
  background-color: #e24647;
  color: #fff;
  overflow: hidden;
  /*respiro externo*/
  margin-left: 116px;
  margin-right: 115px;

  /*respiro interno - forma reduzida - padding:  top right bottom  left;*/
  padding: 55.5px 60px 95.5px 62.4px;

  /*Outras formas de respiro interno (levando em consideração o exemplo acima)
  padding: top/bottom  right/legth;
  padding: 55.5px 60px;

  padding: top  right/leght bottom;
  padding: 55.5px  60px 95.5px;

  padding: top/right/bottom/leght;
  padding: 60px; ele vai funcionar para todos com este valor.
  */
  /* height: 965px; */
}

h1 {
  font-size: 40px;
  width: 116px;
  height: 44px;
  font-family: Arial, "Roboto", sans-serif;
  float: left;
}

/*nav*/
nav {
  font-size: 21px;
  font-family: "SegoeUI", "Roboto", sans-serif;
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
  margin-right: 60px;
}

#last {
  margin-right: 0;
}
